CacheControl==0.12.6
cachetools==4.2.4
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.6
cryptography==35.0.0
Cython==0.29.24
Deprecated==1.2.13
docutils==0.17.1
firebase==3.0.1
gcloud==0.18.3
googleapis-common-protos==1.53.0
httplib2==0.20.1
idna==3.2
jwcrypto==1.0
Kivy==2.0.0
Kivy-Garden==0.1.4
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip
msgpack==1.0.2
multitasking==0.0.9
Naked==0.1.31
oauth2client==4.1.3
packaging==21.0
Pillow==9.3.0
proto-plus==1.19.3
protobuf==3.18.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.11.0
Pygments==2.10.0
pyparsing==2.4.7
python-jwt==3.3.0
PyYAML==6.0
requests==2.26.0
requests-toolbelt==0.9.1
rsa==4.7.2
shellescape==3.8.1
six==1.16.0
sseclient==0.0.27
uritemplate==3.0.1
urllib3==1.26.7
watchdog==2.1.6
wrapt==1.13.2
